@model DetailsDto
@{
    ViewData["Title"] = "@Model.Current.Name";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-dark text-center">@Model.Current.Name</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 p-0 pe-5 text-center">
                <img class="img-fluid cursor-pointer" src="@Model.Current.CardPicture" alt="@Model.Current.Name">
                <img src="@string.Concat("/img/", Model.Current.Quality, ".png")"
                    width="@(Model.Current.Quality == 5 ? "200px" : "175px")">
            </div>
            <div class="col-lg-9 fs-5 mt-4">
                <table class="table">
                    <tr>
                        <td class="fw-bold w-25">Descrição:</td>
                        <td>@Model.Current.Description</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Região:</td>
                        <td>@Model.Current.Region</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Visão:</td>
                        <td>@Model.Current.Vision</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Arma:</td>
                        <td>@Model.Current.Weapon</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Aniversário:</td>
                        <td>@Model.Current.Birthday</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Constelação:</td>
                        <td>@Model.Current.Constelation</td>
                    </tr>

                    <tr>
                        <td class="fw-bold">Prato Especial:</td>
                        <td>@Model.Current.SpecialDish</td>
                    </tr>
                    <tr>
                        <td rowspan="@(Model.Current.Affiliations.Count == 0 ? 1 : Model.Current.Affiliations.Count)" class="fw-bold">
                            Filiações:</td>
                        <td class="w-100">@(Model.Current.Affiliations.Count > 0 ? Model.Current.Affiliations[0] : "Nenhuma")</td>
                    </tr>
                    @for (int i = 1; i < Model.Current.Affiliations.Count; i++)
                    {
                        <tr>
                            <td>@Model.Current.Affiliations[i]</td>
                        </tr>
                    }
                    <tr>
                        <td rowspan="@(Model.Current.Titles.Count == 0 ? 1 : Model.Current.Titles.Count)" class="fw-bold">Títulos:</td>
                        <td class="w-100">@(Model.Current.Titles.Count > 0 ? Model.Current.Titles[0] : "Nenhum")</td>
                    </tr>
                    @for (int i = 1; i < Model.Current.Titles.Count; i++)
                    {
                        <tr>
                            <td>@Model.Current.Titles[i]</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>